In [145]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error

loading data:

In [168]:
df=pd.read_csv("internship_train.csv")

In [169]:
df_test=pd.read_csv("internship_hidden_test.csv")

data analysis (no gaps, dfs distribution is similar)

In [159]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,target
0,236,488,16,221,382,97,-4.472136,0.107472,0,132,...,13.340874,0.870542,1.962937,7.466666,11.547794,8.822916,9.046424,7.895535,11.010677,20.107472
1,386,206,357,232,1,198,7.810250,0.763713,1,143,...,12.484882,7.168680,2.885415,12.413973,10.260494,10.091351,9.270888,3.173994,13.921871,61.763713
2,429,49,481,111,111,146,8.602325,0.651162,1,430,...,14.030257,0.394970,8.160625,12.592059,8.937577,2.265191,11.255721,12.794841,12.080951,74.651162
3,414,350,481,370,208,158,8.306624,0.424645,1,340,...,2.789577,6.416708,10.549814,11.456437,6.468099,2.519049,0.258284,9.317696,5.383098,69.424645
4,318,359,20,218,317,301,8.124038,0.767304,1,212,...,1.886560,1.919999,2.268203,0.149421,4.105907,10.416291,6.816217,8.586960,4.512419,66.767304

In [160]:
df_test.head(5)

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
0,259,388,402,340,156,382,3.316625,0.218760,1,164,...,7.163474,10.227235,0.889111,9.190222,4.670908,0.931525,7.634177,0.158196,13.432551,2.511191
1,441,192,381,421,452,123,-8.888194,0.700228,0,349,...,10.619064,9.339161,4.221861,0.595563,13.865748,0.328453,11.507599,9.107966,1.302407,11.105604
2,83,129,107,156,247,191,2.645751,0.494556,1,297,...,1.819890,10.670237,10.350867,5.134417,5.898995,8.374986,4.638049,3.160023,2.243799,5.073030
3,183,438,191,116,491,403,-6.164414,0.511117,0,272,...,4.168135,12.782579,0.513072,0.321295,11.334062,11.735511,1.911520,8.365676,4.877288,11.601819
4,449,156,310,188,279,465,8.000000,0.756416,1,90,...,7.908122,1.140498,14.165074,7.688796,5.079241,8.152186,1.680403,13.215111,5.823109,1.038015

In [121]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,target,squ6
count,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,...,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000
mean,249.423944,250.236267,248.637289,249.736600,249.436178,249.656167,-0.011402,0.498548,0.499189,249.842033,...,7.523962,7.508397,7.473322,7.490658,7.474578,7.509206,7.487159,7.513316,50.033981,49.535433
std,144.336393,144.022200,144.107577,144.284945,143.941581,144.329168,7.038171,0.288682,0.500002,144.612718,...,4.321537,4.331761,4.335692,4.332122,4.323035,4.326364,4.324876,4.333080,28.897243,28.895191
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.949874,0.000014,0.000000,0.000000,...,0.000040,0.000154,0.000083,0.000367,0.000014,0.000160,0.000147,0.000125,0.002634,0.000000
25%,125.000000,126.000000,124.000000,125.000000,125.000000,124.000000,-7.071068,0.248932,0.000000,124.000000,...,3.797002,3.760627,3.715721,3.739358,3.715298,3.773381,3.743536,3.776322,25.091903,25.000000
50%,250.000000,251.000000,248.000000,250.000000,250.000000,250.000000,0.000000,0.497136,0.000000,250.000000,...,7.533987,7.505259,7.459774,7.494167,7.477270,7.512575,7.476564,7.506812,50.030705,50.000000
75%,374.000000,375.000000,374.000000,375.000000,373.000000,374.000000,7.000000,0.747513,1.000000,376.000000,...,11.276349,11.261971,11.215637,11.239232,11.210070,11.268156,11.234414,11.277835,75.059454,75.000000
max,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,9.949874,0.999987,1.000000,499.000000,...,14.999528,14.999733,14.999478,14.999869,14.999928,14.999948,14.999364,14.999775,99.999482,99.000000

In [122]:
df_test.describe()

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,248.387400,250.191800,248.064900,249.992200,251.642200,249.678600,-0.079268,0.505215,0.492200,245.823600,...,7.422179,7.488576,7.526853,7.449717,7.438931,7.563141,7.510016,7.465383,7.503378,7.503662
std,144.124521,144.850399,144.792255,144.015371,144.745324,144.677689,7.032273,0.285678,0.499964,142.852057,...,4.335234,4.321760,4.340501,4.328863,4.308985,4.347630,4.353635,4.363206,4.338020,4.291431
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.949874,0.000260,0.000000,0.000000,...,0.000310,0.001103,0.000545,0.001244,0.000026,0.001580,0.000286,0.001716,0.000834,0.000132
25%,123.000000,123.000000,123.000000,128.000000,125.000000,124.000000,-7.071068,0.261199,0.000000,122.000000,...,3.707353,3.758763,3.762664,3.711092,3.753059,3.805891,3.734299,3.696070,3.758126,3.810301
50%,249.000000,251.000000,246.000000,252.000000,252.000000,249.000000,-1.000000,0.507519,0.000000,244.000000,...,7.371637,7.531310,7.550432,7.361451,7.377399,7.627437,7.547184,7.441250,7.500340,7.429109
75%,373.000000,377.000000,375.000000,373.000000,379.000000,374.000000,7.071068,0.750603,1.000000,368.000000,...,11.147130,11.193657,11.311366,11.201442,11.154313,11.338666,11.276399,11.297861,11.268075,11.209570
max,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,9.949874,0.999982,1.000000,499.000000,...,14.997599,14.999511,14.999954,14.998273,14.998069,14.999790,14.999314,14.999992,14.998473,14.997318

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90000 entries, 0 to 89999
Data columns (total 55 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       90000 non-null  int64
 1   1       90000 non-null  int64
 2   2       90000 non-null  int64
 3   3       90000 non-null  int64
 4   4       90000 non-null  int64
 5   5       90000 non-null  int64
 6   6       90000 non-null  float64
 7   7       90000 non-null  float64
 8   8       90000 non-null  int64
 9   9       90000 non-null  int64
 10  10      90000 non-null  int64
 11  11      90000 non-null  int64
 12  12      90000 non-null  int64
 13  13      90000 non-null  float64
 14  14      90000 non-null  float64
 15  15      90000 non-null  float64
 16  16      90000 non-null  float64
 17  17      90000 non-null  float64
 18  18      90000 non-null  float64
 19  19      90000 non-null  float64
 20  20      90000 non-null  float64
 21  21      90000 non-null  float64
 22  22      90000 non-null  float64
 23  23      90000 non-null  float64
 24  24      90000 non-null  float64
 25  25      90000 non-null  float64
 26  26      90000 non-null  float64
 27  27      90000 non-null  float64
 28  28      90000 non-null  float64
 29  29      90000 non-null  float64
 30  30      90000 non-null  float64
 31  31      90000 non-null  float64
 32  32      90000 non-null  float64
 33  33      90000 non-null  float64
 34  34      90000 non-null  float64
 35  35      90000 non-null  float64
 36  36      90000 non-null  float64
 37  37      90000 non-null  float64
 38  38      90000 non-null  float64
 39  39      90000 non-null  float64
 40  40      90000 non-null  float64
 41  41      90000 non-null  float64
 42  42      90000 non-null  float64
 43  43      90000 non-null  float64
 44  44      90000 non-null  float64
 45  45      90000 non-null  float64
 46  46      90000 non-null  float64
 47  47      90000 non-null  float64
 48  48      90000 non-null  float64
 49  49      90000 non-null  float64
 50  50      90000 non-null  float64
 51  51      90000 non-null  float64
 52  52      90000 non-null  float64
 53  target  90000 non-null  float64
 54  squ6    90000 non-null  float64
dtypes: float64(44), int64(11)
memory usage: 37.8 MB

playing with features (log, ^ 1/2, ^ 2)

In [107]:
df2 = df.copy()

In [108]:
for ind,col in enumerate(df2.columns):
    if ind == 8 or col=='target':
        next
    else:
        df2['sq' + col] = np.sqrt(df2[col])
        df2['squ' + col] = np.square(df2[col])
        df2['log' + col]= np.log(df2[col])

C:\Users\User\anaconda3\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\User\anaconda3\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\User\anaconda3\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
<ipython-input-108-70eaaf5815e4>:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df2['log' + col]= np.log(df2[col])
<ipython-input-108-70eaaf5815e4>:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df2['sq' + col] = np.sqrt(df2[col])
<ipython-input-108-70eaaf5815e4>:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df2['squ' + col] = np.square(df2[col])


correlation check

In [105]:
def corr_df(x, corr_val):
    corr_matrix = x.corr()
    iters = range(len(corr_matrix.columns) - 1)
    drop_cols = []

    for i in iters:
        for j in range(i):
            item = corr_matrix.iloc[j:(j+1), (i+1):(i+2)]
            col = item.columns
            row = item.index
            val = item.values
            if val >= corr_val:
                print(col.values[0], "|", row.values[0], "|", round(val[0][0], 2))
                drop_cols.append(i)
    drops = sorted(set(drop_cols))[::-1]

    # Drops the correlated columns
    for i in drops:
        col = x.iloc[:, (i+1):(i+2)].columns.values
        df = x.drop(col, axis=1)
    return df

In [109]:
df2=corr_df(df2, 0.6)

8 | 6 | 0.94
sq0 | 0 | 0.98
squ0 | 0 | 0.97
log0 | 0 | 0.88
log0 | sq0 | 0.95
sq1 | 1 | 0.98
squ1 | 1 | 0.97
log1 | 1 | 0.88
log1 | sq1 | 0.95
sq2 | 2 | 0.98
squ2 | 2 | 0.97
log2 | 2 | 0.87
log2 | sq2 | 0.95
sq3 | 3 | 0.98
squ3 | 3 | 0.97
log3 | 3 | 0.88
log3 | sq3 | 0.95
sq4 | 4 | 0.98
squ4 | 4 | 0.97
log4 | 4 | 0.88
log4 | sq4 | 0.95
sq5 | 5 | 0.98
squ5 | 5 | 0.97
log5 | 5 | 0.88
log5 | sq5 | 0.95
sq6 | 6 | 0.97
sq6 | target | 0.89
squ6 | target | 1.0
log6 | 6 | 0.96
log6 | target | 0.9
log6 | sq6 | 0.99
sq7 | 7 | 0.98
squ7 | 7 | 0.97
log7 | 7 | 0.87
log7 | sq7 | 0.94
sq9 | 9 | 0.98
squ9 | 9 | 0.97
log9 | 9 | 0.88
log9 | sq9 | 0.95
sq10 | 10 | 0.98
squ10 | 10 | 0.97
log10 | 10 | 0.88
log10 | sq10 | 0.95
sq11 | 11 | 0.98
squ11 | 11 | 0.97
log11 | 11 | 0.88
log11 | sq11 | 0.95
sq12 | 12 | 0.98
squ12 | 12 | 0.97
log12 | 12 | 0.88
log12 | sq12 | 0.95
sq13 | 13 | 0.98
squ13 | 13 | 0.97
log13 | 13 | 0.87
log13 | sq13 | 0.94
sq14 | 14 | 0.98
squ14 | 14 | 0.97
log14 | 14 | 0.87
log14 | sq14 | 0.94
sq15 | 15 | 0.98
squ15 | 15 | 0.97
log15 | 15 | 0.87
log15 | sq15 | 0.94
sq16 | 16 | 0.98
squ16 | 16 | 0.97
log16 | 16 | 0.87
log16 | sq16 | 0.95
sq17 | 17 | 0.98
squ17 | 17 | 0.97
log17 | 17 | 0.87
log17 | sq17 | 0.94
sq18 | 18 | 0.98
squ18 | 18 | 0.97
log18 | 18 | 0.87
log18 | sq18 | 0.94
sq19 | 19 | 0.98
squ19 | 19 | 0.97
log19 | 19 | 0.87
log19 | sq19 | 0.94
sq20 | 20 | 0.98
squ20 | 20 | 0.97
log20 | 20 | 0.87
log20 | sq20 | 0.94
sq21 | 21 | 0.98
squ21 | 21 | 0.97
log21 | 21 | 0.87
log21 | sq21 | 0.94
sq22 | 22 | 0.98
squ22 | 22 | 0.97
log22 | 22 | 0.87
log22 | sq22 | 0.94
sq23 | 23 | 0.98
squ23 | 23 | 0.97
log23 | 23 | 0.86
log23 | sq23 | 0.94
sq24 | 24 | 0.98
squ24 | 24 | 0.97
log24 | 24 | 0.87
log24 | sq24 | 0.95
sq25 | 25 | 0.98
squ25 | 25 | 0.97
log25 | 25 | 0.87
log25 | sq25 | 0.94
sq26 | 26 | 0.98
squ26 | 26 | 0.97
log26 | 26 | 0.87
log26 | sq26 | 0.94
sq27 | 27 | 0.98
squ27 | 27 | 0.97
log27 | 27 | 0.86
log27 | sq27 | 0.94
sq28 | 28 | 0.98
squ28 | 28 | 0.97
log28 | 28 | 0.86
log28 | sq28 | 0.94
sq29 | 29 | 0.98
squ29 | 29 | 0.97
log29 | 29 | 0.86
log29 | sq29 | 0.94
sq30 | 30 | 0.98
squ30 | 30 | 0.97
log30 | 30 | 0.86
log30 | sq30 | 0.94
sq31 | 31 | 0.98
squ31 | 31 | 0.97
log31 | 31 | 0.87
log31 | sq31 | 0.94
sq32 | 32 | 0.98
squ32 | 32 | 0.97
log32 | 32 | 0.87
log32 | sq32 | 0.94
sq33 | 33 | 0.98
squ33 | 33 | 0.97
log33 | 33 | 0.86
log33 | sq33 | 0.94
sq34 | 34 | 0.98
squ34 | 34 | 0.97
log34 | 34 | 0.87
log34 | sq34 | 0.94
sq35 | 35 | 0.98
squ35 | 35 | 0.97
log35 | 35 | 0.87
log35 | sq35 | 0.94
sq36 | 36 | 0.98
squ36 | 36 | 0.97
log36 | 36 | 0.87
log36 | sq36 | 0.94
sq37 | 37 | 0.98
squ37 | 37 | 0.97
log37 | 37 | 0.87
log37 | sq37 | 0.94
sq38 | 38 | 0.98
squ38 | 38 | 0.97
log38 | 38 | 0.87
log38 | sq38 | 0.94
sq39 | 39 | 0.98
squ39 | 39 | 0.97
log39 | 39 | 0.87
log39 | sq39 | 0.94
sq40 | 40 | 0.98
squ40 | 40 | 0.97
log40 | 40 | 0.87
log40 | sq40 | 0.95
sq41 | 41 | 0.98
squ41 | 41 | 0.97
log41 | 41 | 0.87
log41 | sq41 | 0.94
sq42 | 42 | 0.98
squ42 | 42 | 0.97
log42 | 42 | 0.87
log42 | sq42 | 0.94
sq43 | 43 | 0.98
squ43 | 43 | 0.97
log43 | 43 | 0.86
log43 | sq43 | 0.94
sq44 | 44 | 0.98
squ44 | 44 | 0.97
log44 | 44 | 0.87
log44 | sq44 | 0.94
sq45 | 45 | 0.98
squ45 | 45 | 0.97
log45 | 45 | 0.86
log45 | sq45 | 0.94
sq46 | 46 | 0.98
squ46 | 46 | 0.97
log46 | 46 | 0.87
log46 | sq46 | 0.94
sq47 | 47 | 0.98
squ47 | 47 | 0.97
log47 | 47 | 0.86
log47 | sq47 | 0.94
sq48 | 48 | 0.98
squ48 | 48 | 0.97
log48 | 48 | 0.87
log48 | sq48 | 0.94
sq49 | 49 | 0.98
squ49 | 49 | 0.97
log49 | 49 | 0.86
log49 | sq49 | 0.94
sq50 | 50 | 0.98
squ50 | 50 | 0.97
log50 | 50 | 0.87
log50 | sq50 | 0.94
sq51 | 51 | 0.98
squ51 | 51 | 0.97
log51 | 51 | 0.87
log51 | sq51 | 0.94
sq52 | 52 | 0.98
squ52 | 52 | 0.97
log52 | 52 | 0.87
log52 | sq52 | 0.94

square 6 feature fully correlates with  target and with 8 feature by 0.94

In [127]:
x,y=df.drop(['target'],axis=1),df['target']

In [129]:
mean_squared_error(np.square(x['6']),y,squared=False)

0.576095792549063

just by square the feature 6, I can make predicts)

But I added a linear model

In [150]:
df['squ6']=np.square(df['6'])

In [151]:
x,y=df.drop(['target','8'],axis=1),df['target']

In [139]:
xtrain, xval, ytrain, yval=train_test_split(x,y,test_size=0.33, random_state=42,shuffle=True)

In [149]:
linm=LinearRegression()
linm.fit(xtrain,ytrain)
pred=linm.predict(xval)
mean_squared_error(yval,pred,squared=False)

2.274634809367665e-13

and got almost zero RMSE on val data

In [141]:
folds=KFold(5)

In [147]:
msr=[]
for train, test in folds.split(x,y):
    linm=LinearRegression()
    linm.fit(x.iloc[train,:],y[train])
    msr.append(mean_squared_error(y[test],linm.predict(x.iloc[test,:]),squared=False))
np.mean(msr)

1.6625172159007016e-13

In [170]:
df['squ6']=np.square(df['6'])

In [171]:
x,y=df.drop(['target','8'],axis=1),df['target']

In [172]:
linm=LinearRegression()
linm.fit(x,y)

LinearRegression()

In [173]:
df_test['squ6']=np.square(df_test['6'])

In [174]:
xtest=df_test.drop(['8'],axis=1)

In [176]:
predictions=linm.predict(xtest)

In [177]:
res = pd.DataFrame(predictions)
res.index = df_test.index 
res.columns = ["prediction"]
res.to_csv("prediction_results.csv")